.text-content{
    padding:30px;
    justify-content:space-around;
    align-items: baseline;
}
.text-content h1{
    font-size:50px;
    color:var(--primary);
    margin-bottom:20px;
    /* text-shadow: 0.3px 0.3px 6px var(--secondary); */
}
.text-content p{
    font-weight:bold;
    font-size:20px;
}
.card-content{
    width:90%;
    min-height:200px;
    margin:20px auto;
    border:0.2px solid var(--border);
}