.btn-custom{
    min-width:120px;
    min-height:50px;
    cursor:pointer;
    display:block;
    border:none;
    background: var(--primary);
    position:relative;
    overflow:hidden;
    box-shadow:3px 3px 6px var(--sombra);
}
.btn-custom:hover .circle{
    transform: scale(1);
}
.btn-custom .circle{
    transform: scale(0);
    border-radius:100px;
    min-width:200px;
    min-height:200px;
    position: absolute;
    top:0;
    left:-50px;
    bottom:0;
    right:0;
    margin:auto;
    background-color: var(--primary);
    justify-content:center;
    background-color:var(--secondary);
}
.btn-custom:active{
    transform:scale(0.9);
    box-shadow:1px 1px 4px var(--sombra);
}
.btn-custom div{
    position: absolute;
    justify-content:center;
    width:100%;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    margin:auto;
}
.btn-custom div p{
    text-align:center;
    font-size:18px;
    font-weight:bolder;
    color:white;
}
.btn-custom div svg{
    font-size:18px;
    fill:white;
    margin-right:3px;
}