.navbar{
    position:sticky !important;
    top:0;
    z-index: 210;
    padding:20px;
    min-height:100px;
    margin-bottom: 20px;
    box-shadow:3px 3px 6px var(--sombra);
}
.navbar ul{
    list-style:none;
}
.navbar ul li{
    padding:5px 10px;
    border-radius:40px;
    margin:0px 10px;
    cursor:pointer;
}
.navbar ul li:hover{
    background-color:var(--primary);
    padding:5px 10px;
}
.navbar ul li:hover a{ 
    color:var(--white);
}
.navbar a{
    transition:500ms;
    text-decoration:none;
    font-weight:bold;
}
.navbar h3{
    font-size:23px;
    font-family:var(--title);
}