.search-content{
    width:80%;
    padding:10px;
    min-height:120px;
    margin:40px auto;
    border-radius:4px;
}

.block-content{
    height:90px;
    width:100%;
    max-width:200px;
    border:0.3px solid var(--border);
    border-radius:4px;
    padding:10px;
}
.select-group{
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr !important;
    height:40px;
    overflow:hidden;
}
.select{
    width:100%;
    height:40px;  
    border:0.3px solid var(--border);
    background-color:var(--white);
    padding:10px;
    cursor:pointer;
    position:relative;
    z-index:4;
}
.icon-btn{
    margin-left:10px;
    width:35px;
    height:35px;
    cursor:pointer;
    justify-content:center;
    align-items:center;
    background:var(--secondary);
    border-radius:100px;
}
.used{
    color:var(--secondary);
}
.search-block{
    border:0.3px solid var(--border);
    padding:10px;
}
.search-block input{
    display:block;
    grid-column-start:1;
    grid-column-end:9;
}